<html>
    <head>
        <title>
            Grade-Calculator
        </title>
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Cairo:400,700" rel="stylesheet">
        <!--Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- jQuery library -->
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- CSS stylesheet -->
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <!-- The welcoming text -->
        <div id="welcome">
            <div id="welcome-text">
                <h1>Welcome to Grade Calculator</h1>
                <h2> View your current grade and create if/then situations</h2>
                <!-- Login and register links -->
                <a href = "/login" class="btn btn-light landing-btn">Login</a>
                <a href = "/register" class="btn btn-light landing-btn">Register</a>
            </div>
        </div>
    </body>
</html>