<% include partials/header %>
<h1>Welcome to Grade Calculator</h1>
<h2> View your current grade and create if/then situations</h2>
<a href = "/login">Login</a>
<a href = "/register">Register</a>
<% include partials/footer %>