<html>
    <head>
        <title>
            Grade-Calculator
        </title>
        <link href="https://fonts.googleapis.com/css?family=Cairo:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
        <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <body>
    <div id="welcome">
        <div class="container">
            <% if (success && success.length>0){ %>
            <div class="alert alert-light pb-0" role="alert">
                <p><%= success%></p>
            </div>
            <% } %>
            <% if (error && error.length>0){ %>
            <div class="alert alert-light pb-0" role="alert">
                <p><%= error%></p>
            </div>
            <% } %>
        </div>
        <div id="welcome-text">
            <h1>Welcome to Grade Calculator</h1>
            <h2> View your current grade and create if/then situations</h2>
            <a href = "/login" class="btn btn-light landing-btn">Login</a>
            <a href = "/register" class="btn btn-light landing-btn">Register</a>
        </div>
    </div>
</body>
</html>