<% include partials/header %>

<div id='login-box' class="mx-auto pt-5">
    <h1 class="text-center">Login</h1>
    <form action = "/login", method = "POST">
        
        <!-- username field-->
        <div class="form-group">
            <label for="username">Username: </label><input class="form-control" type = "text" name = "username" value="sample">
        </div>
        
        <!-- password field -->
        <div class="form-group">
            <label for="password">Password: </label><input class="form-control" type = "password" name = "password" value="Sample123" >
        </div>
        
        <!-- Login button -->
        <div class="form-group">
            <button class="btn btn-lg btn-block btn-secondary">Login</button>
        </div>
    
    </form>
</div>


<% include partials/footer %>