*{
    font-family: 'Cairo', sans-serif;
}

.subassignmentTable{
    table-layout: fixed;
    overflow: hidden;
    margin: 10px 0;
}

thead{
    background-color: #5173ad;
    color: white;
}

.subassignmentTable th:nth-of-type(1) {width:40%;}
.subassignmentTable th:nth-of-type(2) {width:15% ;}
.subassignmentTable th:nth-of-type(3) {width:5% ;}
.subassignmentTable th:nth-of-type(4) {width:15% ;}
.subassignmentTable th:nth-of-type(5) {width:25% ;}

.newSubassignmentForm{
    display: none;
}

.landing-btn{
    background-color: #d8e5f3;
}

/*linear-gradient(to bottom, #232526, #32393b, #424f4f, #546563, #687c75)*/
#welcome{
    background-image: url(https://cdn.dribbble.com/users/7032/screenshots/1168949/calculator.png);
    height: 100vh;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: white;
}

#welcome-text{
    position: absolute;
    bottom: 50vh;
    right: 0px;
    left: 0px;
    color: white;
}

#login-box{
    width: 30%;
}

nav{
    background: linear-gradient(to bottom, #1c3b70, #cbd0d8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}


.alert{
    background-color: #d8e5f3;
}

.newSubassignment{
    background-color: #adffde;
}


td { position: relative; }


.deleted{
    text-decoration: line-through;
}

.deletedRow{
    background-color: #ff9999;
}

.updated{
    background-color: #e6ffee;
}

.iconButton{
    border: none;
}

.newSubassignmentRow{
    display: none;
}

td>input{
    width: 100%;
}
th>input{
    width: 100%;
}

.adjusted{
    background-color: #af99f7;
}

.added{
    background-color: #ccff66;
}

#newCourse{
    margin: auto;
    margin-top: 20px;
    display: block;
    font-size: 30px;
}

.courses{
    margin: auto;
    display: block;
}

.card-body>div{
    margin: auto;
}

#newAssignmentBtn{
    margin-top: 10px;
}

/*ajax new */
.updateAssignmentBtn{
    display: none;
}

input[type="text"]:disabled
{
    background-color: #f7fbff;
    color: black;
}